[submodule "app-template/k8s-resource-manifest-lab/lib/github.com/stackdocker/gogs"]
	path = app-template/k8s-resource-manifest-lab/lib/github.com/stackdocker/gogs
	url = https://github.com/stackdocker/gogs
[submodule "app-template/k8s-resource-manifest-lab/lib/github.com/stackdocker/mysql_replication_kubernetes"]
	path = app-template/k8s-resource-manifest-lab/lib/github.com/stackdocker/mysql_replication_kubernetes
	url = https://github.com/stackdocker/mysql_replication_kubernetes
[submodule "app-template/k8s-resource-manifest-lab/lib/github.com/stackdocker/redis-cluster"]
	path = app-template/k8s-resource-manifest-lab/lib/github.com/stackdocker/redis-cluster
	url = https://github.com/stackdocker/redis-cluster
[submodule "app-template/k8s-resource-manifest-lab/lib/github.com/stackdocker/docker-nexus3"]
	path = app-template/k8s-resource-manifest-lab/lib/github.com/stackdocker/docker-nexus3
	url = https://github.com/stackdocker/docker-nexus3
[submodule "app-template/catalog/lib/github.com/kubernetes/charts"]
	path = app-template/catalog/lib/github.com/kubernetes/charts
	url = https://github.com/kubernetes/charts
[submodule "app-template/catalog/lib/github.com/deis/charts"]
	path = app-template/catalog/lib/github.com/deis/charts
	url = https://github.com/deis/charts
[submodule "app-template/catalog/lib/github.com/rancher/community-catalog"]
	path = app-template/catalog/lib/github.com/rancher/community-catalog
	url = https://github.com/rancher/community-catalog
[submodule "sig/machine-learning/lib/github.com/josephmisiti/awesome-machine-learning"]
	path = sig/machine-learning/lib/github.com/josephmisiti/awesome-machine-learning
	url = https://github.com/josephmisiti/awesome-machine-learning
[submodule "sig/golang-containerized/lib/github.com/docker-library/docs"]
	path = sig/golang-containerized/lib/github.com/docker-library/docs
	url = https://github.com/docker-library/docs
[submodule "app-template/k8s-resource-manifest-lab/lib/github.com/tangfeixiong/tidb"]
	path = app-template/k8s-resource-manifest-lab/lib/github.com/tangfeixiong/tidb
	url = https://github.com/tangfeixiong/tidb
[submodule "app-template/k8s-resource-manifest-lab/lib/github.com/stackdocker/jenkins-docker"]
	path = app-template/k8s-resource-manifest-lab/lib/github.com/stackdocker/jenkins-docker
	url = https://github.com/stackdocker/jenkins-docker
