[submodule "app-template/k8s-resource-manifest-lab/lib/github.com/stackdocker/gogs"]
	path = app-template/k8s-resource-manifest-lab/lib/github.com/stackdocker/gogs
	url = https://github.com/stackdocker/gogs
